@CHARSET "UTF-8";

body{
	margin: 0px;
	padding: 0px;
	background-color: #D3E9FF;
}
.title {
  	width: 100%;
  	height: 60px;
  	line-height: 60px;
  	font-size: 32px;
	background-color: #C1E1FF;
	margin-bottom: 20px;
	color: #464646;
	font-weight: bold;
	padding-left: 35%;
    box-sizing: border-box;
}
.content {
	position: absolute;
	width: 550px;
	left: 35%;
	margin-left: -250px;
	text-align: center;
}
.line {
	height: 28px;
	padding: 10px 0px;
}
.lable {
	width: 35%;
 	float: left;
 	text-align: right;
 	font-size: 20px;
 	color: #3E3C3C;
 	line-height: 28px;
 	padding-right: 20px;
	box-sizing: border-box;
}
.input-div {
    position: relative;
 	width: 65%;
    float: right;
	text-align: left;
	font-size: 16px;
	color: #7B7676;
	line-height: 28px;
}
input,select {
	height: 28px;
	width: 350px;
	padding-left: 5px;
	font-size: 16px;
	color: #7B7676;
	border: 1px solid #97CAF9;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1.5px 1.5px #8CACAD;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type="radio"] {
	width: 18px;
	height: 18px;
	-webkit-box-shadow: none;
}

.lable-left{
    position: absolute;
	left: 30px;
	color: #3E3C3C;
}
.lable-right{
    position: absolute;
	right: 50px;
	color: #3E3C3C;
}
.btn-submit, .btn-cancle,.btn {
	width: 130px;
	height: 40px;
	line-height: 40px;
	margin: 50px auto;
	background-color: #66C1E5;
	text-align: center;
	color: #fff;
	font-size: 26px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 2px #454A4A;
	-webkit-user-select: none;
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
}
.btn-submit:active {
   	margin: 52px auto;
   	-webkit-box-shadow: none;
}

.btn-cancle{
	background-color: #E27678;
	-webkit-box-shadow: 0px 2px 2px #5F4F52;
	margin-left: 50px;
}

.btn {
	background-color: #7744FF;
	-webkit-box-shadow: 0px 2px 2px #5F4F52;
	margin-left: 50px;
}
.btn-cancle:active {
   	margin: 52px auto;
   	-webkit-box-shadow: none;
   	margin-left: 50px;
}
.table-div {
	position: absolute;
	width: 100%;
}
.table {
	width: 100%;
	font-size: 14px;
	color: #4d4d4d;
}
.table tr {
	height: 30px;
	background-color: #fff;
}
.table tbody tr:nth-child(even){
	background-color: #F5FBFB;
}
.table tbody tr:hover {
	background-color: #eee;
}
.table thead tr th {
	background-color: #CAE8EA;
	text-align: center;
	max-width: 100px;
}
.table tbody tr td {
	text-align: center;
	max-width: 100px;
}
.active {
	background-color: #F5F17E !important;
}
.btn-div {
	height: 45px;
	padding-left: 20px;
}
.btn-eidt, .btn-remove {
	position: absolute;
	width: 80px;
    height: 30px;
    line-height: 30px;
    background: -webkit-radial-gradient(center center,#DBEFF7 ,#29A3EA);
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 2px #454A4A;
    -webkit-user-select: none;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
}
.btn-eidt:active {
   	margin-top: 2px;
   	-webkit-box-shadow: none;
}
.btn-remove {
	left: 130px;
	background: -webkit-radial-gradient(center center,#F5E5E9 ,#FB4163);
}
.btn-remove:active {
   	margin-top: 2px;
   	-webkit-box-shadow: none;
}
.dialog-div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}
.dialog-masking {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	z-index: 998;
}
.dialog-content {
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background-color: #fff;
	border-radius: 10px;
	z-index: 999;
}
.dialog-content .title {
	text-align: center;
	padding-left: 0px;
	height: 8%;
	margin-bottom: 0px;
}
.dialog-content .overflow-div{
	position: relative;
	width: 100%; 
	height: 92%; 
	overflow: auto;
}
.dialog-content .overflow-div .content {
	left: 45%;
}
